body {
  min-height: calc(100vh);
}

.background {
  background-image: url("../../assets/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-repeat {
  background-image: url("../../assets/background.jpeg");
  background-size: auto;
  background-repeat: repeat-y;
  background-position: center;
  // background-attachment: scroll;
}

.homepage {
  height: 300px;
}

.p-5 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid hsl(217, 71%, 53%);
  border-color: hsl(217, 71%, 53%) transparent hsl(217, 71%, 53%) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@import "../../node_modules/bulma/bulma.sass";
